:root {
  --no1: white;
  --no2: #FDB827;
  --no3: #21209C;
  --no4: black;
}

a{
  text-decoration: none;
  color: green;
}
a:hover {
  color: var(--no3);
}
a:visited {
  text-decoration: none;
}
input,select{
  font-family: 'Roboto', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
hr{
  border: none;
  border-bottom: 1px solid var(--no4);
}
code{
  background-color: rgba(255,255,255,0.4);
  padding: 0px 3px;
  border-radius: 4px;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
}

@media screen and (min-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--no1);
    color: var(--no4);
    font-size: 18px;
    margin: 0;
    padding: 0;
    width:100%;
    margin-top: 55px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .header-container {
    position: fixed;
    background-color: var(--no1);
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  }
  .flex{
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bar-icon{
    display: none;
  }
  .header-container h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .header-container a{
    color: var(--no3);
  }
  .header-container a:hover{
    color: var(--no2);
  }
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
  .menu-item{
    padding: 8px 10px;
    margin: 5px 1px;
    color: var(--no4);
    border-radius: 4px;
    cursor: pointer;
  }
  .menu-item:hover{
    color: var(--no1);
    background-color: rgba(0,0,0,0.5);
  }
  .menu-item-selected{
    color: var(--no1);
    background-color: rgba(0,0,0,0.5);
  }
  .phn-menu{
    display: none;
  }
  .intro{
    margin: 0px auto;
    max-width: 1200px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
  }
  .normal{
    margin: 0px auto;
    max-width: 1200px;
  }
  .introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .intro-text{
    width: 100%;
    padding: 10px 0px 10px 20px;
  }
  .intro-text p{
    margin: 10px 0px;
  }
  .intro-text h1{
    font-size: 2.5rem;
  }
  .slider{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  }
  .mySlides{
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 0px 5px 5px 0px;
  }
  .spintronics{
    padding: 20px;
  }
  .footer{
    margin: 0px auto;
    padding: 30px;
    background-color: rgba(0,0,0,0.1);
    color: var(--no4);
    max-width: 1200px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .urls a{
    display: block;
    margin: 0;
    padding: 5px 0px;
  }
  .paper{
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .no{
    font-size: 2.5rem;
    font-weight: bold;
    width: 120px;
  }
  .members{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
  .member img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0,0,0,1);
    margin-bottom: 10px;
  }















  .alerts {
    visibility: hidden;
    min-width: 300px;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 11;
  }
  .show-alerts-success {
    visibility: visible;
    background-color: white;
    border: 1px solid black;
    color: black;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  .show-alerts-danger {
    visibility: visible;
    background-color: black;
    border: 1px solid white;
    color: white;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 20px; opacity: 1;}
  }
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 20px; opacity: 1;}
  }
  @-webkit-keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  @keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }









}

@media screen and (min-width: 0em) and (max-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: var(--no1);
    color: var(--no4);
    font-size: 15px;
    margin: 0;
    padding: 0;
    width:100%;
    margin-top: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .header-container {
    position: fixed;
    background-color: var(--no1);
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  }
  .bar-icon{
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 25px;
    margin: 5px;
    transform: translateY(-2px);
  }
  .bar-icon:hover{
    background-color: rgba(0,0,0,0.2);
  }
  .header-container h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .phn-menu{
    padding-top: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    z-index: 9;
    animation: nudge2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transform: translateX(-2000px);
  }
  .flex{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-container a{
    color: var(--no3);
  }
  .header-container a:hover{
    color: var(--no2);
  }
  .menu{
    display: none;
  }
  .menu-item{
    padding: 8px 10px;
    margin: 5px 1px;
    color: var(--no4);
    border-radius: 4px;
    cursor: pointer;
  }
  .menu-item:hover{
    color: var(--no1);
    background-color: rgba(0,0,0,0.5);
  }
  .menu-item-selected{
    color: var(--no1);
    background-color: rgba(0,0,0,0.5);
  }
  .intro{
    margin: 5px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
  }
  .normal{
    margin: 0px auto;
  }
  .introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .intro-text{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--no1);
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
  }
  .intro-text p{
    margin: 10px 0px;
  }
  .hidee{
    display: none;
  }
  .intro-text h1{
    font-size: 1.7rem;
  }
  .slider{
    width: 100%;
  }
  .mySlides{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 0px 5px 5px 0px;
  }
  .spintronics{
    padding: 5px;
  }
  .footer{
    margin: 0px auto;
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
    color: var(--no4);
    max-width: 1200px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact{
    display: none;
  }
  .urls a{
    display: block;
    margin: 0;
    padding: 3px 0px;
  }
  .paper{
    padding: 5px;
    margin: 5px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .no{
    font-size: 1.4rem;
    font-weight: bold;
  }
  .members{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
  }
  .member img{
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0,0,0,1);
    margin-bottom: 10px;
  }



  .hide2{
    animation: nudge;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    transform: translateX(0px);
  }
  @keyframes nudge {
    0% {
      transform: translateX(-2000px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes nudge2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-2000px);
    }
  }
  .alerts {
    visibility: hidden;
    min-width: 300px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 11;
  }
  .show-alerts-success {
    visibility: visible;
    background-color: white;
    border: 1px solid black;
    color: black;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  .show-alerts-danger {
    visibility: visible;
    background-color: black;
    border: 1px solid white;
    color: white;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 20px; opacity: 1;}
  }
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 20px; opacity: 1;}
  }
  @-webkit-keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  @keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }


}

.hide{
  display: none;
}
